.about-banner {
  min-height: 45vh;
  background: linear-gradient(
      to top,
      rgba(1, 18, 48, 0.8),
      rgba(1, 18, 48, 0.8)
    ),
    url("../../assets/images/parent-communication-650x455.jpg.png") center/cover
      no-repeat;
  color: #fff;
}

.about-banner span {
  color: #bac2db;
}
.about-banner h1 {
  font-size: 2.7rem;
}
