@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");


* {
  box-sizing: border-box;
  /* overflow-x: hidden; */
  font-family: "Lexend Deca", sans-serif;
  margin: 0;
  padding: 0;
}

/* .about-banner {
  min-height: 45vh;
  background: linear-gradient(
      to top,
      rgba(1, 18, 48, 0.8),
      rgba(1, 18, 48, 0.8)
    ),
    url("../assets/images/parent-communication-650x455.jpg.png") center/cover
      no-repeat;
  color: #fff;
}

.about-banner span {
  color: #bac2db;
}
.about-banner h1 {
  font-size: 2.7rem;
} */

/* about-us */
.about-highlight-text {
  position: relative;
  color: #024585;
}
.about-highlight-text::after {
  content: url("../assets/images/row.svg");
  position: absolute;
  bottom: -25px;
  left: -20px;
  right: 0;
  opacity: 0;
  transform: translateX(-25px);
  animation: showRow 4s ease forwards infinite ;
  animation-delay: 0.4s;
  width: 0%;
}

@keyframes showRow {
  0% {
    opacity: 0;
    transform: translateY(-25px);
    width: 100%;
  }
  20% {
    opacity: 1;
    transform: translateY(0);
    width: 100%;
  }
  20% {
    opacity: 1;
    transform: translateY(0);
    width: 100%;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    width: 100%;
  }
}

.about-us h6 {
  color: #2f548f;
  display: inline;
  background-color: #e4eefa;
  padding: 5px;
  line-height: 1.8;
  margin-bottom: 10px;
}
.about-us h2 {
  color: #001a70;
  margin-top: 10px;
}
.about-us .info-text {
  font-size: 1rem;
  line-height: 1.5;
  color: #002d70;
  font-weight: 500;
}
.about-us .info-text2 {
  font-size: 1rem;
  line-height: 1.5;
  color: #3f639b;
  font-weight: 400;
}
.about-us img {
  transition: all 0.32s ease-in-out;
}
.about-us img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 32px rgba(8, 42, 94, 1)!important;
}

/*  our vision, Mission,Philosophy */

.vision .card{
  border-radius: 36px !important;
  box-shadow: 0 4px 15px rgba(8, 42, 94, 0.8) !important;

}
.vision .card-title {
  color: #2f548f;
  line-height: 1.8;
  font-size: 1.5rem;
}
.vision .card-text {
  color: #3f639b;
  font-weight: 400;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
}
.vision .card {
  transition: all 0.3s ease-in-out;
}
.vision .card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 32px rgba(8, 42, 94, 1)!important;
}

/* Academic System */
.about-academic {
  width: 100%;
  background-color: #b7c0d328;
  padding: 10vh;
}
.about-academic .system {
  transition: all 0.3s ease-in-out;
  border-radius: 20px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 0px !important;
  box-shadow: 0 4px 10px rgba(8, 42, 94, 0.8) !important;

}
.about-academic .system:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(8, 42, 94, 1)!important;
}

.about-academic .title h2 {
  color: #001a70;
}
.about-academic .title span {
  color: #2f548f;
  font-weight: bold;
}

.about-academic .title p {
  color: #001a70;
}

.about-academic .system {
  background-color: #fff;
}

.about-academic .system-text {
  color: #024585;
}
/* offer */
.hero-section {
  height: 60vh;
  background: linear-gradient(
      to top,
      rgba(5, 20, 68, 0.948),
      rgba(6, 21, 53, 0.893)
    ),
    url("../assets/images/about-pic3.jpg") center/cover fixed;
}
.hero-section span {
  color: rgb(255, 115, 0);
}

/* instructor */

.about-instructor h6 {
  color: #2f548f;
  display: inline;
  background-color: #e4eefa;
  padding: 5px 0;
  line-height: 1.8;
  margin-bottom: 10px;
}

.about-instructor h2 {
  color: #001a70;
  margin-top: 10px;
  line-height: 1.8;
}

.about-instructor span {
  color: #2f548f;
}
.about-instructor .card {
  transition: transform 0.3s ease-in-out;
}
.about-instructor .card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-instructor-card img {
  width: 100%;
  height: 35vh;
  object-fit: cover;
  margin-bottom: 10px;
}
.about-instructor h5 {
  color: #001a70;
}
.about-instructor p {
  color: #2f548f;
}

/* platform */

.about-platform {
  width: 100%;
  background-color: #b7c0d328;
  padding: 10vh;
}
.about-platform .platform-card {
  transition: transform 0.3s ease-in-out;
  background-color: #b7c0d328;
}
.about-platform .platform-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.about-platform-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.about-platform h2 {
  margin-bottom: 30px;
  font-weight: bold;
  color: #001a70;
}

.about-platform h6 {
  color: #2f548f;
}
.about-platform p {
  padding-top: 20px;
  font-size: 1.1rem;
  line-height: 1.1;
  color: #3f639b;
}

/* Communication */
.about-Communication {
  color: #001a70;
  line-height: 1.5;
}
.about-Communication ul {
  line-height: 2.5;
  font-size: 1rem;
  color: #7e848f;
  font-weight: 500;
}
.about-Communication img {
  transition: transform 0.3s ease-in-out;
}
.about-Communication img:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 32px rgba(8, 42, 94, 1)!important;

}

.about-highlight-text-ins {
  position: relative;
  color: #024585;
}
.about-highlight-text-ins::after {
  content: url("../assets/images/row.svg");
  position: absolute;
  bottom: -40px;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  opacity: 0;
  transform: translateX(-25px);
  animation: showRow 4s ease forwards infinite ;
  animation-delay: 0.4s;
  width: 0%;
}
