@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

.body {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 0;
}

.auth-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 678px;
  max-width: 100%;
  min-height: 400px;
}

.auth-form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.auth-sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.auth-sign-up-container.auth-right-panel-active {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

.auth-sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.auth-sign-in-container.auth-right-panel-active {
  transform: translateX(100%);
}

.auth-form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.auth-title {
  font-weight: bold;
  margin: 0;
  color: #88b6ff;
}

.auth-input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  border-radius: 8px;
}

.auth-button {
  border-radius: 20px;
  border: 1px solid #0155a3;
  background-color: #0155a3;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.auth-button:active {
  transform: scale(0.95);
}

.auth-button:focus {
  outline: none;
}

.auth-ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.auth-overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.auth-overlay-container.auth-right-panel-active {
  transform: translateX(-100%);
}

.auth-overlay {
  background: #024585;
  background: linear-gradient(to right, #024585, #0155a3);
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.auth-overlay.auth-right-panel-active {
  transform: translateX(50%);
}

.auth-overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.auth-overlay-left {
  transform: translateX(-20%);
}

.auth-overlay-left.auth-right-panel-active {
  transform: translateX(0);
}

.auth-overlay-right {
  right: 0;
  transform: translateX(0);
}

.auth-overlay-right.auth-right-panel-active {
  transform: translateX(20%);
}

.href {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}
