/* Banner */
.Contact-page-banner {
  height: 45vh;
  background: linear-gradient(
      to top,
      rgba(1, 18, 48, 0.8),
      rgba(1, 18, 48, 0.8)
    ),
    url("../assets/images/parent-communication-650x455.jpg.png") center/cover
      no-repeat;
  color: #fff;
}
.Contact-page-banner h1 {
  font-size: 2.7rem;
}
.Contact-page-banner span {
  color: #bac2db;
}
/* technical-support */
.technical-support h2 {
  color: #001a70;
}
.technical-support p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #3f639b;
  font-weight: 400;
}
.technical-support ul {
  font-size: 1rem;
  line-height: 1.8;
  color: #7e848f;
  font-weight: 500;
}
.technical-support img {
  transition: all 0.4s ease-in-out;
}
.technical-support img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 32px rgba(8, 42, 94, 1)!important;
}
/* contact */
.contact h2 {
  color: #001a70;
}
.contact h3 {
  color: #001a70;
}
.contact hr {
  height: 5px;
  background-color: #1e3685 !important;
  width: 2rem;
  border: none;
  opacity: 1 !important;
}
.contact p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #3f639b;
  font-weight: 400;
}
.contact .contact-item {
  font-size: 1rem;
  line-height: 1.6;
  color: #3f639b;
  font-weight: 500;
  transition: transform 0.3s ease-in-out;
}
.contact .contact-item:hover {
  transform: scale(1.05);
}
.contact .contact-item ul {
  list-style: none;
  position: relative;
  padding-left: 60px;
}
.contact .contact-item img {
  position: absolute;
}
/* form */
.contact-form {
  background-color: #b7c0d328;
  border: #1e36852c 1px solid;
}
.contact-form input {
  height: 45px;
}
.contact-form button {
  background-color: #082a5e;
  color: #fff;
  height: 45px;
  transition: all 0.3s ease-in-out;
}
.contact-form button:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fe7214;
}
.form-control:focus {
  box-shadow: none;
  border-color: #112e8cde;
}
.form-control {
  transition: transform 0.3s ease-in-out;
}
.form-control:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
