@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Lexend+Deca:wght@100..900&display=swap");

/* ========== Base Theme Variables ========== */
:root {
  /* Primary Colors */
  --color-primary: #024585;
  --color-primary-dark: #082a5e;
  --primary-600: #072243;
  --color-accent: #12bb6a;
  --color-purple: #8121fb;
  --bg: #ffffff;
  --neutral-light: #f6f8fb;
  --neutral-dark: #6c757d;
  --bgb: #eaf2fb;

  /* Text Colors */
  --color-heading: #082a5e;
  --color-text: #39557e;

  /* Backgrounds */
  --color-bg: #ffffff;
  --color-bg-alt: #e7effc;
  --color-section-bg: #f1f4f9;

  /* Buttons */
  --btn-bg: var(--color-primary);
  --btn-hover-bg: var(--color-primary-dark);
  --btn-text: #f1f4f9;

  /* Highlight */
  --highlight: var(--color-primary);

  --radius: 14px;
}

/* ========== Dark Theme Variables ========== */
.dark-theme {
  --color-primary: #4b9fff;
  --color-primary-dark: #1c74d9;
  --color-accent: #18d08f;
  --color-purple: #a273ff;

  --color-heading: #f5f9ff;
  --color-text: #cbd5e1;

  --color-bg: #0b1120;
  --color-bg-alt: #16213a;
  --color-section-bg: #1e293b;

  --btn-bg: var(--color-primary);
  --btn-hover-bg: var(--color-primary-dark);
  --btn-text: #ffffff;

  --highlight: var(--color-primary);
}
html,
body {
  overflow-x: hidden;
}

.chat-bg {
  background-color: var(--color-primary);
}

.send:hover {
  background-color: var(--color-primary-dark);
}
.smooth-slide {
  will-change: transform, opacity;
}

html,
body {
  font-family: "Lexend Deca", "Cairo", sans-serif;
}

.lang-ar body {
  font-family: "Cairo", sans-serif;
}

.lang-en body {
  font-family: "Lexend Deca", sans-serif;
}
